html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  margin-top: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 375px;
  margin-top: 0;
  margin-left: -10px;
  background-color: #e5e5e5;
}

.con1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-width: 375px;
  height: auto;
  background-color: #fff;
  padding-top: 58px;
}

.logo-title {
  margin-left: 25px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 89px;
  color: #6070ff;
  text-decoration: none;
}

.ham-img {
  position: relative;
  left: -35px;
  height: 12px;
  width: 18px;
  color: #6070ff;
  text-decoration: none;
}

.hero-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  height: 150px;
  width: 295px;
  left: 24px;
  top: 114px;
  margin-top: 103px;
  margin-bottom: 12px;
  margin-left: 24px;
  color: #172b4d;
}

.hero-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: start;
  margin-bottom: 12px;
  margin-left: 24px;
  max-width: 327px;
  min-width: 327px;
  color: #344563;
}

section {
  height: 718px;
  max-width: 375px;
}

.Homepage {
  background-image: url(https://raw.githubusercontent.com/steveWDamesJr/Microverse-Portfolio/main/images/background.png);
  border-bottom-left-radius: 70px;
  background-repeat: no-repeat;
  width: 375px;
  height: 718px;
  background-size: contain;
  background-color: #fff;
  z-index: 1;
}

.icon-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 179px;
  padding: 0;
  margin-left: 24px;
}

.connect {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
  line-height: 24px;
  color: #7f8cff;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 552px;
  width: 327px;
  top: 1438px;
  border-radius: 16px;
  background-color: #fff;
  margin-top: 87px;
  left: calc(50% - 327px / 2);
  color: #172b4d;
}

.card-img {
  height: 220px;
  width: 295px;
  left: 16px;
  top: 16px;
  padding: 0 16px 0 16px;
  border-radius: 8px;
}

.card-title {
  height: 36px;
  width: 295px;
  left: 0;
  top: 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 0;
}

.title-elements {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 236px;
  padding-left: 0;
  margin: 0;
}

.pr-name {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  height: 82%;
  color: #344563;
}

.dot {
  height: 8px;
  width: 8px;
  left: 67px;
  top: 12px;
  border-radius: 0;
  color: #c1c7d0;
}

.art-name {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  width: 89px;
  left: 0;
  top: 8px;
  color: #7a869a;
}

.year {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  width: 29px;
  left: 0;
  top: 8px;
  color: #7a869a;
}

.card-description {
  width: 295px;
  height: 76px;
  left: 0;
  top: 92px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: #344563;
  margin: 0;
}

.card-subtitles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  list-style: none;
  padding-left: 0;
  padding-bottom: 2px;
}

.languages {
  padding: 4px 12px;
  background-color: #ebebff;
  color: #6070ff;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  font-size: 12px;
}

.card-button {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-decoration: none;
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 100px;
  height: 24px;
  left: 12px;
  top: 12px;
}

.card-button:hover {
  padding: 12px;
  width: 100px;
  height: 24px;
  left: 252px;
  top: calc(50% - 48px / 2 + 57.5px);
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}

.card-button:focus {
  padding: 12px;
  width: 100px;
  height: 24px;
  left: 407px;
  top: calc(50% - 48px / 2 + 57.5px);
  background: #2230d2;
  border-radius: 8px;
  color: #fff;
}

.card-button:disabled {
  padding: 12px;
  width: 100px;
  height: 24px;
  left: 564px;
  top: calc(50% - 48px / 2 + 57.5px);
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
}

.text-cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 12px;
}

.works-section-grid {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  gap: 1em;
  margin-top: -67px;
  width: 375px;
  background-color: #f7f7f9;
  height: auto;
  padding-top: 100px;
}

.about-me-card {
  border-top-right-radius: 70px;
  background-repeat: no-repeat;
  width: 375px;
  height: auto;
  background-size: contain;
  background-color: #fff;
  margin-top: 112px;
}

.about-myself {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  left: 24px;
  top: 114px;
  margin-top: 103px;
  margin-bottom: 12px;
  margin-left: 24px;
  color: #172b4d;
}

.card-button2 {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-decoration: none;
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 135px;
  height: 24px;
  left: 12px;
  top: 12px;
}

.card-button2:hover {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 135px;
  height: 24px;
  left: 12px;
  top: 12px;
  top: calc(50% - 48px / 2 + 57.5px);
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}

.card-button2:focus {
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 135px;
  height: 24px;
  left: 12px;
  top: 12px;
  top: calc(50% - 48px / 2 + 57.5px);
  background: #2230d2;
  color: #fff;
}

.card-button2:disabled {
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 135px;
  height: 24px;
  left: 12px;
  top: 12px;
  top: calc(50% - 48px / 2 + 57.5px);
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
}

.icon-list2 {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 179px;
  padding: 0;
  margin-left: 24px;
}

.skills-list {
  margin: 32px 24px;
}

.abm-skills {
  height: 24px;
  left: 12px;
  right: 78px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.All-skills {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  width: 327px;
  margin-left: auto;
  margin-right: auto;
}

.All-skills-list {
  padding-left: 0;
}

.All-skills li {
  list-style: none;
}

.lang-arrow,
.frame-arrow,
.skills-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang-arrow h3,
.frame-arrow h3,
.skills-arrow h3 {
  height: 24px;
  left: 12px;
  right: 78px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.programs {
  display: flex;
  background-color: #f7f7f9;
  padding: 7px 0 7px 15px;
  border-radius: 8px;
}

.program-lang {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.program-name {
  height: 24px;
  left: 76px;
  right: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  margin-left: 16px;
}

.line {
  border: 1px solid#Dfe1e6;
  margin: 5px 0;
}

.contact-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(https://raw.githubusercontent.com/steveWDamesJr/Microverse-Portfolio/Feature-Contact-Form/images/con-shapes.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 375px;
  height: 836px;
  margin-top: -114px;
  left: 0;
  top: 5410px;
  background-color: #6070ff;
  border-top-left-radius: 70px;
}

.frm-inputs-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.contact-me {
  width: 375px;
  height: 56px;
  top: 4734px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  margin: 0;
  padding-top: 115px;
}

.contact-description {
  width: 327px;
  height: 102px;
  left: 24px;
  top: 4802px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-bottom: 80px;
  margin-left: 20px;
}

.con-frm-input {
  height: 48px;
  width: 327px;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 8px;
  background: #fff;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  border: none;
  text-indent: 16px;
}

.con-frm-mess {
  height: 170px;
  width: 327px;
  left: 0;
  top: 0;
  bottom: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #cfd8dc;
  margin-bottom: 10px;
  text-indent: 16px;
}

::placeholder {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding-top: 10px;
}

textarea {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}

.frm-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  width: 140px;
  left: 24px;
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  background: #fff;
  align-self: flex-start;
  justify-content: center;
  margin-left: 20px;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  font-style: normal;
  border: none;
}

.frm-button:hover {
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 140px;
  height: 48px;
  left: 12px;
  top: 12px;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}

.frm-button:focus {
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 140px;
  height: 48px;
  left: 12px;
  top: 12px;
  background: #2230d2;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}
